//- International (In Progress) Timeline Preview
.timeline-preview.timeline-preview--imex(data-variant="imex-dynamic")
  .timeline-visual.timeline-visual--imex.timeline-visual--order-final
    .timeline-track
    .timeline-connector(style="--timeline-progress-width: 97%")
    .timeline-nodes-container
      .timeline-node.timeline-node--status-1.timeline-node--executed(data-status-code="1", data-step="1")
        .node-date
          span.month A
          span.day
        .node-icon
          .node-circle
        .node-info
          .node-status Status a｜Executed
          p.node-time 09:00
      .timeline-node.timeline-node--status-2.timeline-node--processing(data-status-code="2", data-step="2")
        .node-date
          span.month B
          span.day
        .node-icon
          .node-circle
        .node-info
          .node-status Status b｜Processing
          p.node-time Processing...
      .timeline-node.timeline-node--status-3.timeline-node--international-transit(data-status-code="3", data-step="3")
        .node-date
          span.month C
          span.day
        .node-icon
          .node-circle
        .node-info
          .node-status Status c｜Intl In Transit
          p.node-time Processing...
      .timeline-node.timeline-node--status-4.timeline-node--scheduled(data-status-code="4", data-step="4")
        .node-date
          span.month D
          span.day
        .node-icon
          .node-circle
        .node-info
          .node-status Status d｜Pending
          p.node-time --:--
      .timeline-node.timeline-node--status-5.timeline-node--order-completed(data-status-code="5", data-step="5")
        .node-date
          span.month E
          span.day
        .node-icon
          .node-circle
        .node-info
          .node-status Status e｜Order Completed
          p.node-time 17:45
      .timeline-node.timeline-node--status-6.timeline-node--order-final(data-status-code="6", data-step="6")
        .node-date
          span.month F
          span.day
        .node-icon
          .node-circle
        .node-info
          .node-status Status f｜Shipment Delivered
          p.node-time 09:10
      .timeline-node.timeline-node--status-4.timeline-node--scheduled(data-status-code="4", data-step="7")
        .node-date
          span.month G
          span.day
        .node-icon
          .node-circle
        .node-info
          .node-status Status g｜Scheduled
          p.node-time --:--

